.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.profile-image{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;

}

.user-profile{
  display:flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;


}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout-button{
  background-color: crimson;
  color: white;
  padding: 8px;
  margin: 20px;
}

.username{
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
